.paper {
  background: linear-gradient(
    to left,
    var(--mantine-color-gray-0) 0%,
    var(--mantine-color-blue-0) 100%
  );
  border: 1px solid var(--mantine-color-blue-2);
}

.content {
  flex: 1;
}

.image {
  width: 300px;
  height: auto;

  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
} 