.client {
  transition: transform 0.2s ease;
  border: 1px solid var(--mantine-color-violet-2);

  &:hover {
    transform: translateY(-5px);
    background-color: var(--mantine-color-violet-0);
  }
} 